body {
    font-family: 'Arial', 'sans-serif';
}
h1,h2,h3,h4,h5,h6 {
    font-family: cursive;
}
h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.7rem;
}

h3 {
    font-size: 1.5rem;
}

p,input {
    font-size: 1.1rem;
}

input {
    width: 25%;
}

button {
    font-size: 1.2rem;
}

.logo {
    border-radius: 55%;
    float: left;
    width: 15vw;
    max-width:200px;
}
